@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --work-sans : 'work sans'; 
    --text-color: #727272; 
    --primary-color: #ff900e; 
    --secondary-color: #fff4e7; 
}

*{
    font-family: var(--work-sans);
    box-sizing: border-box;
    margin: 0 ; 

    p{
        line-height: 1.625rem;
    }
}